* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
section {
	
}
section::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 80%;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

#sectionOne a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#sectionOne a span {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#sectionOne a span::before {
  position: absolute;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#sectionOne {
	background: radial-gradient(grey, black);
	position: relative;
	width: 100%;
	height: 100%;
}

/*End of section transition css*/

.nameContainer {
	display: flex;
}

#title {
  justify-content: center;
  font-weight: bold;
  font-size: 6rem;
	margin-top: 4rem;
	color: white;
}

.introContainer {
	display: flex;
}
#shortIntro {
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
	margin-top: 1rem;
	color: white;
}

.profileContainer img {
	width: 50%;
	height: 50%;
	margin-top: 2rem;
	float: left;
}

.leavePage {
	display: flex;
	justify-content: center;
}

.skillContainer {
	margin: 5rem 0 0 5rem;
}

.skillContainer h3 {
	margin-left: 3rem;

}

.expContainer  {
	margin: 5rem 0 0 0rem;
}

.sectionTwoTitles {
	opacity: 0.5;
	font-size: 5rem;
	margin-bottom: 2rem;
}

.projectsTitle {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.aboutMeTitle {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.aboutMeIntro {
	margin: 0 12rem;
}

.resumeRows {
	margin-bottom: 3rem;
}

.resumeBlockTitle {
	margin-bottom: 1rem;
}

#navbarNav {
	justify-content: flex-end;
}

.nav-item {
	padding-right: 4rem;
}

#menu {
	position: fixed;
	width: 100%;
	display: none;
	z-index: 1;
}

.fixNav {
	position: fixed;
}

.resumeDownload {
	display: flex;
	justify-content: center;
	margin: 6rem 0 3rem 0;
}

.aboutMe, .imageDesc {
	margin: 2rem 20rem 0rem 20rem;
	justify-content: center;
}

.aboutMeImages {
	margin-top: 4rem;
	width: 100%;
	height: 40rem;
}

.imageDesc {
	padding: 1rem;
	background: black;
	border-radius: 1rem;
	color: white;
}

.carousel-inner img {
	width: 100%;
	height: 500px;
}

#myCarousel {
	width: 75%;
	margin: auto;
	margin-top: 30px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	  background-image: none!important;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.carousel-caption {
	background: rgba(0, 0, 0, 0.65);
}

#sectionThree ol {
	list-style-position: inside;
}

#sectionFour {
	background: grey;
}

#sectionFour a {
	color: white;
}